<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
    <title>Document</title>
  </head>

  <body>
    <!-- <h1>Капитан на кораб до 40 бт</h1> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="leftCont">
            <table>
              <tr>
                <th><a class="number btn" href="#">1</a></th>
                <th><a class="number btn">2</a></th>
                <th><a class="number btn">3</a></th>
              </tr>
              <tr>
                <th><a class="number btn">4</a></th>
                <th><a class="number btn">5</a></th>
                <th><a class="number btn">6</a></th>
              </tr>
              <tr>
                <th><a class="number btn">7</a></th>
                <th><a class="number btn">8</a></th>
                <th><a class="number btn">9</a></th>
              </tr>
              <tr>
                <th><a class="number btn">10</a></th>
                <th><a class="number btn">11</a></th>
                <th><a class="number btn">12</a></th>
              </tr>
              <tr>
                <th><a class="number btn">13</a></th>
                <th><a class="number btn">14</a></th>
                <th><a class="number btn">15</a></th>
              </tr>
              <tr>
                <th><a class="number btn">16</a></th>
                <th><a class="number btn">17</a></th>
                <th><a class="number btn">18</a></th>
              </tr>
              <tr>
                <th><a class="number btn">19</a></th>
                <th><a class="number btn">20</a></th>
                <th><a class="number btn">21</a></th>
              </tr>
              <tr>
                <th><a class="number btn">22</a></th>
                <th><a class="number btn">23</a></th>
                <th><a class="number btn">24</a></th>
              </tr>
              <tr>
                <th><a class="number btn">25</a></th>
                <th><a class="number btn">26</a></th>
                <th><a class="number btn">27</a></th>
              </tr>
              <tr>
                <th><a class="number btn">28</a></th>
                <th><a class="number btn">29</a></th>
                <th><a class="number btn">30</a></th>
              </tr>
              <tr>
                <th><a class="number btn">31</a></th>
                <th><a class="number btn">32</a></th>
                <th><a class="number btn">33</a></th>
              </tr>
              <tr>
                <th><a class="number btn">34</a></th>
                <th><a class="number btn">35</a></th>
                <th><a class="number btn">36</a></th>
              </tr>
              <tr>
                <th><a class="number btn">37</a></th>
                <th><a class="number btn">38</a></th>
                <th><a class="number btn">39</a></th>
              </tr>
              <tr>
                <th><a class="number btn">40</a></th>
                <th><a class="number btn">41</a></th>
                <th><a class="number btn">42</a></th>
              </tr>
              <tr>
                <th><a class="number btn">43</a></th>
                <th><a class="number btn">44</a></th>
                <th><a class="number btn">45</a></th>
              </tr>
              <tr>
                <th><a class="number btn">46</a></th>
                <th><a class="number btn">47</a></th>
                <th><a class="number btn">48</a></th>
              </tr>
              <tr>
                <th><a class="number btn">49</a></th>
                <th><a class="number btn">50</a></th>
                <th><a class="number btn">51</a></th>
              </tr>
              <tr>
                <th><a class="number btn">52</a></th>
                <th><a class="number btn">53</a></th>
                <th><a class="number btn">54</a></th>
              </tr>
              <tr>
                <th><a class="number btn">55</a></th>
                <th><a class="number btn">56</a></th>
                <th><a class="number btn">57</a></th>
              </tr>
              <tr>
                <th><a class="number btn">58</a></th>
                <th><a class="number btn">59</a></th>
                <th><a class="number btn">60</a></th>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="userData">
            <div class="answered">
              Брой отговорени въпроси <span class="answeredNum">0</span> от 60
            </div>
            <div class="time">
              <div class="processed">
                <span id="remainingTime">60</span> min
              </div>
            </div>
          </div>

          <div class="headerWrp">
            <div>
              <button type="button" class="back btn btn-secondary btn-lg">
                <
              </button>
              <p class="questNum">Въпрос <span>1</span></p>
            </div>
          </div>

          <div class="question">
            <form class="answer-form">
              <div class="qText"><%= question.text%></div>
              <div class="form-check my-2">
                <input type="radio" value="A" name="response" /><label
                  class="response"
                  ><%= question.ans0%></label
                >
              </div>
              <div class="form-check my-2">
                <input type="radio" value="B" name="response" /><label
                  class="response"
                  ><%= question.ans1%></label
                >
              </div>
              <div class="form-check my-2">
                <input type="radio" value="C" name="response" /><label
                  class="response"
                  ><%= question.ans2%></label
                >
              </div>
              <div class="form-check my-2">
                <input type="radio" value="D" name="response" /><label
                  class="response"
                  ><%= question.ans3%></label
                >
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-2">
          <div>
            <div><button type="submit" class="submit">Предай</button></div>
            <div><button type="submit" class="next" id="next">></button></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="index.js"></script> -->
    <script src="app.js"></script>
  </body>
</html>
