<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link href="/styles_questions.css" rel="stylesheet" type="text/css">

    <title>Document</title>
  </head>

  <body>

    
    <div class="container">
      
      <div class="row">
        <div class="col-lg-2 leftContainer">
          <div class="leftCont">
            
            <table>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle1%> <%=reviewButtonStyle.reviewButtonStyle1%>" href="/questions/?questionID=1">1</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle2%> <%=reviewButtonStyle.reviewButtonStyle2%>"  href="/questions/?questionID=2">2</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle3%> <%=reviewButtonStyle.reviewButtonStyle3%>" href="/questions/?questionID=3">3</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle4%> <%=reviewButtonStyle.reviewButtonStyle4%>" href="/questions/?questionID=4">4</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle5%> <%=reviewButtonStyle.reviewButtonStyle5%>" href="/questions/?questionID=5">5</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle6%> <%=reviewButtonStyle.reviewButtonStyle6%>" href="/questions/?questionID=6">6</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle7%> <%=reviewButtonStyle.reviewButtonStyle7%>" href="/questions/?questionID=7">7</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle8%> <%=reviewButtonStyle.reviewButtonStyle8%>" href="/questions/?questionID=8">8</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle9%> <%=reviewButtonStyle.reviewButtonStyle9%>" href="/questions/?questionID=9">9</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle10%> <%=reviewButtonStyle.reviewButtonStyle10%>" href="/questions/?questionID=10">10</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle11%> <%=reviewButtonStyle.reviewButtonStyle11%>" href="/questions/?questionID=11">11</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle12%> <%=reviewButtonStyle.reviewButtonStyle12%>" href="/questions/?questionID=12">12</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle13%> <%=reviewButtonStyle.reviewButtonStyle13%>" href="/questions/?questionID=13">13</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle14%> <%=reviewButtonStyle.reviewButtonStyle14%>" href="/questions/?questionID=14">14</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle15%> <%=reviewButtonStyle.reviewButtonStyle15%>" href="/questions/?questionID=15">15</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle16%> <%=reviewButtonStyle.reviewButtonStyle16%>" href="/questions/?questionID=16">16</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle17%> <%=reviewButtonStyle.reviewButtonStyle17%>" href="/questions/?questionID=17">17</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle18%> <%=reviewButtonStyle.reviewButtonStyle18%>" href="/questions/?questionID=18">18</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle19%> <%=reviewButtonStyle.reviewButtonStyle19%>" href="/questions/?questionID=19">19</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle20%> <%=reviewButtonStyle.reviewButtonStyle20%>" href="/questions/?questionID=20">20</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle21%> <%=reviewButtonStyle.reviewButtonStyle21%>" href="/questions/?questionID=21">21</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle22%> <%=reviewButtonStyle.reviewButtonStyle22%>" href="/questions/?questionID=22">22</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle23%> <%=reviewButtonStyle.reviewButtonStyle23%>" href="/questions/?questionID=23">23</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle24%> <%=reviewButtonStyle.reviewButtonStyle24%>" href="/questions/?questionID=24">24</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle25%> <%=reviewButtonStyle.reviewButtonStyle25%>" href="/questions/?questionID=25">25</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle26%> <%=reviewButtonStyle.reviewButtonStyle26%>" href="/questions/?questionID=26">26</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle27%> <%=reviewButtonStyle.reviewButtonStyle27%>" href="/questions/?questionID=27">27</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle28%> <%=reviewButtonStyle.reviewButtonStyle28%>" href="/questions/?questionID=28">28</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle29%> <%=reviewButtonStyle.reviewButtonStyle29%>" href="/questions/?questionID=29">29</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle30%> <%=reviewButtonStyle.reviewButtonStyle30%>" href="/questions/?questionID=30">30</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle31%> <%=reviewButtonStyle.reviewButtonStyle31%>" href="/questions/?questionID=31">31</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle32%> <%=reviewButtonStyle.reviewButtonStyle32%>" href="/questions/?questionID=32">32</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle33%> <%=reviewButtonStyle.reviewButtonStyle33%>" href="/questions/?questionID=33">33</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle34%> <%=reviewButtonStyle.reviewButtonStyle34%>" href="/questions/?questionID=34">34</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle35%> <%=reviewButtonStyle.reviewButtonStyle35%>" href="/questions/?questionID=35">35</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle36%> <%=reviewButtonStyle.reviewButtonStyle36%>" href="/questions/?questionID=36">36</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle37%> <%=reviewButtonStyle.reviewButtonStyle37%>" href="/questions/?questionID=37">37</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle38%> <%=reviewButtonStyle.reviewButtonStyle38%>" href="/questions/?questionID=38">38</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle39%> <%=reviewButtonStyle.reviewButtonStyle39%>" href="/questions/?questionID=39">39</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle40%> <%=reviewButtonStyle.reviewButtonStyle40%>" href="/questions/?questionID=40">40</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle41%> <%=reviewButtonStyle.reviewButtonStyle41%>" href="/questions/?questionID=41">41</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle42%> <%=reviewButtonStyle.reviewButtonStyle42%>" href="/questions/?questionID=42">42</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle43%> <%=reviewButtonStyle.reviewButtonStyle43%>" href="/questions/?questionID=43">43</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle44%> <%=reviewButtonStyle.reviewButtonStyle44%>" href="/questions/?questionID=44">44</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle45%> <%=reviewButtonStyle.reviewButtonStyle45%>" href="/questions/?questionID=45">45</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle46%> <%=reviewButtonStyle.reviewButtonStyle46%>" href="/questions/?questionID=46">46</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle47%> <%=reviewButtonStyle.reviewButtonStyle47%>" href="/questions/?questionID=47">47</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle48%> <%=reviewButtonStyle.reviewButtonStyle48%>" href="/questions/?questionID=48">48</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle49%> <%=reviewButtonStyle.reviewButtonStyle49%>" href="/questions/?questionID=49">49</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle50%> <%=reviewButtonStyle.reviewButtonStyle50%>" href="/questions/?questionID=50">50</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle51%> <%=reviewButtonStyle.reviewButtonStyle51%>" href="/questions/?questionID=51">51</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle52%> <%=reviewButtonStyle.reviewButtonStyle52%>" href="/questions/?questionID=52">52</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle53%> <%=reviewButtonStyle.reviewButtonStyle53%>" href="/questions/?questionID=53">53</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle54%> <%=reviewButtonStyle.reviewButtonStyle54%>" href="/questions/?questionID=54">54</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle55%> <%=reviewButtonStyle.reviewButtonStyle55%>" href="/questions/?questionID=55">55</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle56%> <%=reviewButtonStyle.reviewButtonStyle56%>" href="/questions/?questionID=56">56</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle57%> <%=reviewButtonStyle.reviewButtonStyle57%>" href="/questions/?questionID=57">57</a></th>
              </tr>
              <tr>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle58%> <%=reviewButtonStyle.reviewButtonStyle58%>" href="/questions/?questionID=58">58</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle59%> <%=reviewButtonStyle.reviewButtonStyle59%>" href="/questions/?questionID=59">59</a></th>
                <th><a class="number btn <%= answeredQuestionsStyle.answeredStyle60%> <%=reviewButtonStyle.reviewButtonStyle60%>" href="/questions/?questionID=60">60</a></th>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="userData">
            <div class="answered">
              Брой отговорени въпроси <span class="answeredNum"><%= answered%></span> от 60
            </div>
            <div class="time">
              <div class="processed">
                <span id="remainingTime"><%= remainingTime%></span> min
              </div>
            </div>
          </div>

          <div class="headerWrp">
            <div>
              <form action="/questions/prev" method="POST" >
                <button type="submit" id="prevBtn" class="back btn btn-secondary btn-lg"><</button>
                <p class= "questNum">Въпрос <span><%= questionID%></span></p>
              </form>
            </div>
          </div>

          <div class="question">
            <form action="/questions/submit" method="POST" class="answer-form">
              <div class="qText"><%= question.text%></div>
              
              <div class="form-check my-2">
                <p><img src="../pictures/<%=question.descPic%>" style="max-width: 30%;" class="<%= noPic%>"></p>
                <input id="radioA" type="radio" value="A" name="response"<%= checked.checkedA%>/><label
                  class="response"
                  ><%= question.ans0%></label
                >
              </div>
              <div class="form-check my-2">
                <input id="radioB" type="radio" value="B" name="response"<%= checked.checkedB%>/><label
                  class="response"
                  ><%= question.ans1%></label
                >
              </div>
              <div class="form-check my-2">
                <input id="radioC" type="radio" value="C" name="response" <%= checked.checkedC%>/><label
                  class="response"
                  ><%= question.ans2%></label
                >
              </div>
              <div class="form-check my-2">
                <input id="radioD" type="radio" value="D" name="response" <%= checked.checkedD%>/><label
                  class="response"
                  ><%= question.ans3%></label
                >
                <div>
                  <input type="submit" value="OK">
                </div>
                
              </div>
              
            </form>
          </div>
        </div>

        <div class="col-lg-2">
          
              <form action="/questions/next" method="POST" >
                <button type="submit" class="next" id="nextBtn">></button>
              </form>

              
                <form action="/questions/results" method="POST" >
                  <button type="submit" class="submit">Предай</button>
                </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="results text-center <%= resultPopupVisible%>"> Резултат <%=correctAnswers%> от 60 
      <form action="/questions/review" method="POST" >
      <button type="submit" class="review">Прегледай</button>
    </form> </div>
  </body>
</html>
